<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center" style="background-color: gray; color: white;">
                    <h1>Admin Area</h1>
                    <h5>Login to manage property</h5>
                </div>
                <hr>
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email ID</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1"
                        placeholder="Admin Password">
                </div>
                <button type="button" class="btn btn-primary text-center">Login</button>
                <p></p>
            </form>
            <a style="text-decoration: none; cursor: pointer; color: red; font-weight: bold;" routerLink="/signup">New user? Click to Signup</a>
        </div>
        </div>
    </div>
</div>