<nav class="navbar navbar-light bg-primary">
    <div class="containr-fluid">
        <h2 style="color: white;">TC Properties</h2>
    </div>
    <div class="d-flex">
        <button type="button" class="btn btn-success">Add Listing</button>
        <button type="button" class="btn btn-danger mx-3" >logout</button>
    </div>
</nav>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Testy Codeiz Properties</h1>
        <p class="col-mb fs-4">You can add property data here</p>
        <a href="https://www.youtube.com/" class="btn btn-primary" target="_blan
        " type="button">Testy Codeiz</a>
    </div>
</div>