<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center" style="background-color: gray; color: white;">
                    <h1>Signup Area</h1>
                    <h5>Create Free Account </h5>
                </div>
                <hr>
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Name" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mobile</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Mobile No." autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email ID</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1"
                        placeholder="Password">
                </div>
                <button type="button" class="btn btn-primary text-center">Signup</button>
                <p></p>
            </form>
            <a style="text-decoration: none; cursor: pointer; color: blue; font-weight: bold;" routerLink="/login">Already Account? Click to Login</a>
        </div>
        </div>
    </div>
</div>
